.chat-side
  .side-header
    .side-box
<<<<<<< HEAD
      %p.user-name
        = current_user.name
=======
      %p.user-name HIRATA
>>>>>>> e5cfbea298a52ab028fb1b7737698963cc6d2051
      %ul.menu
        %li.new-group
          =link_to "#" do
            .icon.i.fas.fa-edit
          %li.edit-user
<<<<<<< HEAD
            = link_to edit_user_path(current_user) do
=======
            = link_to "#" do
>>>>>>> e5cfbea298a52ab028fb1b7737698963cc6d2051
              .icon.i.fas.fa-cog



  .groups
<<<<<<< HEAD
    = link_to '#'
=======
>>>>>>> e5cfbea298a52ab028fb1b7737698963cc6d2051
    %p.group-name Techcamp
    %p.group_message まだメッセージがありません。
