.chat-side
  .side-header
    .side-box
      %p.user-name HIRATA
      %ul.menu
        %li.new-group
          =link_to "#" do
            %i.fas.fa-edit{:style => "color: #ffffff"}
          %li.edit-user
            = link_to "#" do
              %i.fas.fa-cog{:style => "color: #ffffff"}



  .groups
    %p.group-name Techcamp
    %p.group_message まだメッセージがありません。
