!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title chat-app
  %body
    .wrapper
      = render "side_bar"
      = render "main_chat"

      