* {
  box-sizing:border-box;
}


.Message__field {
  background-color:#fafafa;
  box-sizing: border-box;
  padding: 35px 40px 0;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;

  

.message_box{
  margin-bottom: 46px;
}
.message_field_info {
  display: flex;
  &__name{
    font-size: 16px;
    font-weight: bold;
    color: #434a54;
  }
  &__date{
    padding: 2px 0 0 10px;
    font-size: 12px;
    color:#999;
  }  


}
.Message{
  margin-top: 12px;

  &__content{
    margin-left: 0px;
    font-size: 14px;
    color: #434A54;

  } 
  &__image{
    height: 200px;
  }
}

}
